{{define "title"}}Nuevo Libro{{end}} {{define "content"}}
<form id="book">
  <div id="ficha">
    <div class="field">
      <label class="label">ISBN</label>
      <div class="control">
        <input class="input" type="number" placeholder="ISBN" name="isbn"/>
      </div>
    </div>
    <div class="field">
      <label class="label">Titulo</label>
      <div class="control">
        <input class="input" type="text" placeholder="Titulo" name="title" />
      </div>
    </div>
    <div class="field">
      <label class="label">Autor</label>
      <div class="control">
        <div class="select" name="authid">
          <select>
            {{range .}}
            <option>{{.Name}} {{.LastName}}</option>
            {{end}}
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Editorial</label>
      <div class="control">
        <div class="select">
          <select>
            <option>1</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Fecha edición</label>
      <div class="control">
        <input class="input" type="datetime-local" name="publishdate" step="1"/>
      </div>
    </div>
    <div class="field">
      <label class="label">Sinopsis</label>
      <div class="control">
        <textarea class="textarea" placeholder="sinopsis" name="description"></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Contiene cubierta?</label>
      <label class="checkbox">
        <input type="checkbox" value="yes" name="hascover"/>
        Sí
      </label>
    </div>
    <div class="field">
      <label class="label">Fecha compra</label>
      <div class="control">
        <input class="input" type="datetime-local" name="boughtdate" step="1"/>
      </div>
    </div>
    <div class="field">
      <label class="label">Leido?</label>
      <label class="checkbox">
        <input type="checkbox" />
        Sí
      </label>
    </div>
    <div class="field">
      <label class="label">Fecha edición</label>
      <div class="control">
        <input type="submit" class="button is-link" value="Guardar">
      </div>
    </div>
  </div>
</form>
{{end}}